openapi: 3.2.0
info:
  title: Grid Status Pricing Locations API
  description: The Grid Status hosted API provides programmatic access to United States and Canadian electricity grid and power market data across CAISO, ERCOT, IESO, ISONE, MISO, NYISO, PJM, and SPP.
  version: 1.3.0
  contact:
    name: Grid Status
    url: https://www.gridstatus.io
    email: contact@gridstatus.io
servers:
- url: https://api.gridstatus.io/v1
  description: Grid Status hosted API
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Pricing Locations
  description: Nodes, hubs, and zones behind LMP datasets.
paths:
  /pricing_locations:
    get:
      operationId: listPricingLocations
      tags:
      - Pricing Locations
      summary: List pricing locations
      description: List pricing locations (nodes, hubs, and zones) behind LMP datasets.
      responses:
        '200':
          description: A list of pricing locations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pricing_locations/nearby:
    get:
      operationId: listNearbyPricingLocations
      tags:
      - Pricing Locations
      summary: List nearby pricing locations
      description: Find pricing locations near a latitude/longitude point.
      parameters:
      - name: latitude
        in: query
        required: true
        description: Latitude of the point of interest.
        schema:
          type: number
      - name: longitude
        in: query
        required: true
        description: Longitude of the point of interest.
        schema:
          type: number
      responses:
        '200':
          description: Pricing locations near the point.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pricing_locations/{gs_entity_id}:
    get:
      operationId: getPricingLocation
      tags:
      - Pricing Locations
      summary: Get pricing location
      description: Fetch a single pricing location by Grid Status entity ID.
      parameters:
      - name: gs_entity_id
        in: path
        required: true
        description: Grid Status entity ID of the pricing location.
        schema:
          type: string
      responses:
        '200':
          description: The pricing location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Missing API Key.
  schemas:
    PricingLocationResponse:
      type: object
      properties:
        gs_entity_id:
          type: string
        name:
          type: string
        iso:
          type: string
        location_type:
          type: string
        latitude:
          type:
          - number
          - 'null'
        longitude:
          type:
          - number
          - 'null'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from https://www.gridstatus.io/settings/api.
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as a query parameter (alternative to the header).
