openapi: 3.0.3
info:
  title: Grid Status API Info Pricing Locations API
  description: The Grid Status hosted API provides programmatic access to United States and Canadian electricity grid and power market data across CAISO, ERCOT, IESO, ISONE, MISO, NYISO, PJM, and SPP. Data is organized as datasets - day-ahead and real-time LMP and settlement point prices, load and load forecasts, fuel mix, ancillary services, storage, and transmission constraints - that are listed, described, and queried through a uniform interface with time-range filters, column filters, resampling, pagination, and JSON or CSV output. Authenticate with an API key from the Grid Status settings page, passed in the x-api-key header (or api_key query parameter). Grounded in the live OpenAPI 3.1 document published at https://api.gridstatus.io/openapi.json (version 1.3.0).
  version: 1.3.0
  contact:
    name: Grid Status
    url: https://www.gridstatus.io
    email: contact@gridstatus.io
servers:
- url: https://api.gridstatus.io/v1
  description: Grid Status hosted API
security:
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Pricing Locations
  description: Nodes, hubs, and zones behind LMP datasets.
paths:
  /pricing_locations:
    get:
      operationId: listPricingLocations
      tags:
      - Pricing Locations
      summary: List pricing locations
      description: List pricing locations (nodes, hubs, and zones) behind LMP datasets.
      responses:
        '200':
          description: A list of pricing locations.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pricing_locations/nearby:
    get:
      operationId: listNearbyPricingLocations
      tags:
      - Pricing Locations
      summary: List nearby pricing locations
      description: Find pricing locations near a latitude/longitude point.
      parameters:
      - name: latitude
        in: query
        required: true
        description: Latitude of the point of interest.
        schema:
          type: number
      - name: longitude
        in: query
        required: true
        description: Longitude of the point of interest.
        schema:
          type: number
      responses:
        '200':
          description: Pricing locations near the point.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pricing_locations/{gs_entity_id}:
    get:
      operationId: getPricingLocation
      tags:
      - Pricing Locations
      summary: Get pricing location
      description: Fetch a single pricing location by Grid Status entity ID.
      parameters:
      - name: gs_entity_id
        in: path
        required: true
        description: Grid Status entity ID of the pricing location.
        schema:
          type: string
      responses:
        '200':
          description: The pricing location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PricingLocationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Missing API Key.
    NotFound:
      description: The requested resource was not found.
  schemas:
    PricingLocationResponse:
      type: object
      properties:
        gs_entity_id:
          type: string
        name:
          type: string
        iso:
          type: string
        location_type:
          type: string
        latitude:
          type: number
          nullable: true
        longitude:
          type: number
          nullable: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: API key from https://www.gridstatus.io/settings/api.
    apiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as a query parameter (alternative to the header).
